## API TEST

Utilisation de la Clé API

In [18]:
import requests
import pandas as pd

api_key = "e0a1bf2c844edb9084efc764c089dd748676cc14"

Tests et utilisation des urls pour la récupération des données des stations ainsi que de leurs détails

In [19]:
contract = "nantes"
url_test = "https://api.jcdecaux.com/vls/v1/stations?contract={contract_name}&apiKey={api_key}".format(contract_name = contract , api_key = api_key )
url_contract = "https://api.jcdecaux.com/vls/v3/contracts?apiKey={api_key}".format(api_key = api_key )
# print(url_test)
url_stations = "https://api.jcdecaux.com/vls/v1/stations?apiKey={api_key}".format(api_key = api_key )
url_details_stations = "https://api.jcdecaux.com/vls/v3/stations/{station_number}?contract={contract_name}&apiKey={api_key}"

Test de la réussite de la récupération des données de l'url station

In [5]:
rep = requests.get(url_stations)
print(rep.status_code)

200

Affichages des informations de mon dataframe

In [13]:
df = pd.DataFrame.from_records(rep.json())
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2452 entries, 0 to 2451
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   number                 2452 non-null   int64
 1   contract_name          2452 non-null   object
 2   name                   2452 non-null   object
 3   address                2452 non-null   object
 4   position               2452 non-null   object
 5   banking                2452 non-null   bool
 6   bonus                  2452 non-null   bool
 7   bike_stands            2452 non-null   int64
 8   available_bike_stands  2452 non-null   int64
 9   available_bikes        2452 non-null   int64
 10  status                 2452 non-null   object
 11  last_update            2451 non-null   float64
dtypes: bool(2), float64(1), int64(4), object(5)
memory usage: 196.5+ KB

Affichage des premières lignes de mon DataFrame

In [16]:
df.head()

,number,contract_name,name,address,position,banking,bonus,bike_stands,available_bike_stands,available_bikes,status,last_update
0,55,toulouse,00055 - SAINT-SERNIN - G. ARNOULT,2 RUE GATIEN ARNOULT,"{'lat': 43.609022, 'lng': 1.441105}",True,False,15,0,15,OPEN,1.680902e+12
1,59,ljubljana,LIDL BEŽIGRAD,Bežigrad 11,"{'lat': 46.063797, 'lng': 14.506854}",False,False,20,2,17,OPEN,1.680902e+12
2,2010,lyon,2010 - CONFLUENCE / DARSE,ANGLE ALLEE ANDRE MURE ET QUAI ANTOINE RIBOUD,"{'lat': 45.743317, 'lng': 4.815747}",True,False,22,11,11,OPEN,1.680902e+12
3,5015,lyon,5015 - FULCHIRON,Devant le n°41 rue de la Quarantaine,"{'lat': 45.75197, 'lng': 4.821662}",True,False,19,18,1,OPEN,1.680902e+12
4,42,dublin,SMITHFIELD NORTH,Smithfield North,"{'lat': 53.349562, 'lng': -6.278198}",False,False,30,4,26,OPEN,1.680902e+12

Affichage d'un résumé statistique des données de mon DataFrame.

Affichage de la moyenne, l'écart type, la médiane, les quartiles, la valeur minimale et la valeur maximale pour chaque colonne numérique du DataFrame.

On pourrait donc dire par exemple qu'il y'a au maximum 70 stands de vélos dans les villes et qu'il y'a des villes qui ne disposent ni de vélos, ni de stands de vélos.

In [26]:
df.describe()

,number,bike_stands,available_bike_stands,available_bikes,last_update
count,2452.000000,2452.000000,2452.000000,2452.000000,2.451000e+03
mean,2416.073409,20.839723,11.532626,8.879690,1.680679e+12
std,7543.001302,6.795071,7.362846,6.655586,1.448516e+09
min,1.000000,0.000000,0.000000,0.000000,1.661873e+12
25%,39.000000,16.000000,6.000000,4.000000,1.680902e+12
50%,123.500000,20.000000,11.000000,8.000000,1.680902e+12
75%,287.250000,24.000000,15.250000,13.000000,1.680902e+12
max,56401.000000,70.000000,51.000000,46.000000,1.680903e+12

Classement des villes avec le plus de vélos

In [44]:
df.groupby(by="contract_name", sort=True)["available_bikes"].sum().sort_values(ascending=False)

contract_name
lyon              4063
bruxelles         3915
toulouse          2509
seville           2419
valence           2384
dublin            1318
nantes            1000
luxembourg         963
ljubljana          634
nancy              271
cergy-pontoise     265
amiens             248
rouen              242
namur              220
mulhouse           212
toyama             211
maribor            206
lund               206
besancon           193
santander          192
creteil             63
jcdecauxbike        24
marseille           15
lillestrom           0
vilnius              0
Name: available_bikes, dtype: int64

Classement des villes avec le plus de stands de vélo au total

In [94]:
df.groupby(by="contract_name", sort=True)["bike_stands"].sum().sort_values(ascending=False)

contract_name
lyon              9185
bruxelles         8397
toulouse          5673
valence           5471
seville           4740
dublin            3646
nantes            2480
luxembourg        2389
ljubljana         1666
cergy-pontoise     849
marseille          698
nancy              650
mulhouse           626
vilnius            615
amiens             571
rouen              511
maribor            501
toyama             461
lund               428
namur              408
besancon           400
santander          370
creteil            208
lillestrom         120
jcdecauxbike        36
Name: bike_stands, dtype: int64

Classement des villes avec le plus de stands de vélo utilisés

In [93]:
df.groupby(by="contract_name", sort=True)["available_bike_stands"].sum().sort_values(ascending=False)

contract_name
lyon              5011
bruxelles         4328
toulouse          3131
valence           3038
dublin            2301
seville           2208
nantes            1428
luxembourg        1339
ljubljana         1025
cergy-pontoise     564
vilnius            527
marseille          453
mulhouse           415
nancy              377
amiens             321
maribor            293
rouen              266
toyama             249
besancon           207
lund               196
namur              188
santander          177
creteil            122
lillestrom         108
jcdecauxbike         6
Name: available_bike_stands, dtype: int64

On remarque que Lyon est la ville qui dispose au total de plus de stations et de vélos que les autres villes.

Détails d'une station à Toulouse en json

In [24]:
url_station55_toulouse = url_details_stations.format(station_number = 55, contract_name = "toulouse" , api_key = api_key)
rep = requests.get(url_station55_toulouse)
rep.json()

{'number': 55,
 'contractName': 'toulouse',
 'name': '00055 - SAINT-SERNIN - G. ARNOULT',
 'address': '2 RUE GATIEN ARNOULT',
 'position': {'latitude': 43.609022, 'longitude': 1.441105},
 'banking': True,
 'bonus': False,
 'status': 'OPEN',
 'lastUpdate': '2023-04-07T21:40:31Z',
 'connected': True,
 'overflow': False,
 'shape': None,
 'totalStands': {'availabilities': {'bikes': 15,
   'stands': 0,
   'mechanicalBikes': 15,
   'electricalBikes': 0,
   'electricalInternalBatteryBikes': 0,
   'electricalRemovableBatteryBikes': 0},
  'capacity': 15},
 'mainStands': {'availabilities': {'bikes': 15,
   'stands': 0,
   'mechanicalBikes': 15,
   'electricalBikes': 0,
   'electricalInternalBatteryBikes': 0,
   'electricalRemovableBatteryBikes': 0},
  'capacity': 15},
 'overflowStands': None}

Construction d'une liste d'URLs en appliquant une fonction lambda à chaque ligne du DataFrame où chaque URL contient les détails d'une station de vélo  spécifique.

In [103]:
urls = df.apply(lambda x:url_details_stations.format(station_number = x.number, contract_name = x.contract_name , api_key = api_key), axis=1)

Parcours de ces urls en les transformants en json sous forme de liste

In [104]:
data = list()
for url in urls : 
    response = requests.get(url)
    data.append(response.json())

print("fin de la boucle")

fin de la boucle

Transformation du json en un nouveau dataframe avec tous les détails

In [105]:
details_df = pd.json_normalize(data = data)
details_df.head()

,number,contractName,name,address,banking,bonus,status,lastUpdate,connected,overflow,...,mainStands.availabilities.electricalRemovableBatteryBikes,mainStands.capacity,overflowStands.availabilities.bikes,overflowStands.availabilities.stands,overflowStands.availabilities.mechanicalBikes,overflowStands.availabilities.electricalBikes,overflowStands.availabilities.electricalInternalBatteryBikes,overflowStands.availabilities.electricalRemovableBatteryBikes,overflowStands.capacity,error
0,55.0,toulouse,00055 - SAINT-SERNIN - G. ARNOULT,2 RUE GATIEN ARNOULT,True,False,OPEN,2023-04-08T17:20:01Z,True,False,...,0.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,59.0,ljubljana,LIDL BEŽIGRAD,Bežigrad 11,False,False,OPEN,2023-04-08T17:12:58Z,True,False,...,0.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010.0,lyon,2010 - CONFLUENCE / DARSE,ANGLE ALLEE ANDRE MURE ET QUAI ANTOINE RIBOUD,True,False,OPEN,2023-04-08T17:18:07Z,True,False,...,4.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5015.0,lyon,5015 - FULCHIRON,Devant le n°41 rue de la Quarantaine,True,False,OPEN,2023-04-08T17:17:23Z,True,False,...,5.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42.0,dublin,SMITHFIELD NORTH,Smithfield North,False,False,OPEN,2023-04-08T17:14:47Z,True,False,...,13.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Affichage des différentes colonnes du dataframe

In [106]:
details_df.columns

Index(['number', 'contractName', 'name', 'address', 'banking', 'bonus',
       'status', 'lastUpdate', 'connected', 'overflow', 'shape',
       'overflowStands', 'position.latitude', 'position.longitude',
       'totalStands.availabilities.bikes', 'totalStands.availabilities.stands',
       'totalStands.availabilities.mechanicalBikes',
       'totalStands.availabilities.electricalBikes',
       'totalStands.availabilities.electricalInternalBatteryBikes',
       'totalStands.availabilities.electricalRemovableBatteryBikes',
       'totalStands.capacity', 'mainStands.availabilities.bikes',
       'mainStands.availabilities.stands',
       'mainStands.availabilities.mechanicalBikes',
       'mainStands.availabilities.electricalBikes',
       'mainStands.availabilities.electricalInternalBatteryBikes',
       'mainStands.availabilities.electricalRemovableBatteryBikes',
       'mainStands.capacity', 'overflowStands.availabilities.bikes',
       'overflowStands.availabilities.stands',
       'overflowStands.availabilities.mechanicalBikes',
       'overflowStands.availabilities.electricalBikes',
       'overflowStands.availabilities.electricalInternalBatteryBikes',
       'overflowStands.availabilities.electricalRemovableBatteryBikes',
       'overflowStands.capacity', 'error'],
      dtype='object')

Classement des villes avec le plus vélos

In [75]:
bikes = details_df.groupby(by="contractName", sort=True)["mainStands.availabilities.bikes"].sum().sort_values(ascending=False)

Classement des villes avec le plus vélos de vélos méchaniques

In [76]:
mechBikes = details_df.groupby(by="contractName", sort=True)["mainStands.availabilities.mechanicalBikes"].sum().sort_values(ascending=False)

Classement des villes avec le plus vélos de vélos électriques

In [78]:
elecBikes = details_df.groupby(by="contractName", sort=True)["mainStands.availabilities.electricalBikes"].sum().sort_values(ascending=False)

Somme des vélos électriques et méchaniques

In [89]:
sum_Bikes = elecBikes + mechBikes
print(bikes)

contractName
lyon              4153
bruxelles         3933
toulouse          2548
seville           2444
valence           2422
dublin            1356
nantes            1008
luxembourg         964
ljubljana          646
nancy              273
cergy-pontoise     265
amiens             248
rouen              240
namur              220
maribor            212
mulhouse           212
toyama             209
lund               206
besancon           196
santander          193
creteil             63
jcdecauxbike        24
marseille           15
lillestrom           0
vilnius              0
Name: mainStands.availabilities.bikes, dtype: int64

Pourcentage des vélos électriques dans chaque ville

In [90]:
elecBikes / sum_Bikes

contractName
amiens            0.000000
besancon          0.000000
bruxelles         0.402376
cergy-pontoise    0.000000
creteil           0.000000
dublin            0.346608
jcdecauxbike      0.909091
lillestrom        0.000000
ljubljana         0.000000
lund              0.000000
luxembourg        1.000000
lyon              0.483321
maribor           0.000000
marseille         0.000000
mulhouse          0.000000
namur             0.000000
nancy             0.000000
nantes            0.000000
rouen             0.000000
santander         0.000000
seville           0.000000
toulouse          0.000000
toyama            0.000000
valence           0.000000
vilnius           0.000000
dtype: float64

Pourcentage des vélos méchaniques dans chaque ville

In [91]:
mechBikes / sum_Bikes

contractName
amiens            1.000000
besancon          1.000000
bruxelles         0.597624
cergy-pontoise    1.000000
creteil           1.000000
dublin            0.653392
jcdecauxbike      0.090909
lillestrom        1.000000
ljubljana         1.000000
lund              1.000000
luxembourg        0.000000
lyon              0.516679
maribor           1.000000
marseille         1.000000
mulhouse          1.000000
namur             1.000000
nancy             1.000000
nantes            1.000000
rouen             1.000000
santander         1.000000
seville           1.000000
toulouse          1.000000
toyama            1.000000
valence           1.000000
vilnius           1.000000
dtype: float64

On peut remarquer qu'il n'y dans la plupart des villes que des vélos méchaniques contrairement aux vélos électriques qui sont rares